.banner {
  background-image: url(../../../assets/images/bg_home.jpg);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
}

.button-custom {
  color: #ffffff;
  background: linear-gradient(to right, var(--primary-app-color), var(--primary-app-bg));
  border: 2px solid var(--primary-app-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
  border-radius: 6px;
  outline-color: transparent;
}

::ng-deep .pie-label {
  fill: #ffffff;
}

::ng-deep .chart-legend .legend-label .active .legend-label-text {
  &:hover {
    color: #ffffff;
  }
}
