<app-loading></app-loading>
<div class="p-3 flex gap-3" style="background-color: var(--primary-app-background);">
  <app-employer-menu-left></app-employer-menu-left>

  <div>
    <h2 class="header-component">Đổi mật khẩu</h2>

    <div class="grid">
      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label for="old-password" class="font-semibold">Mật khẩu cũ<span class="pl-2 text-red-600">*</span></label>
          <input pInputText id="old-password" class="flex-auto" [(ngModel)]="data.oldPassword" />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label for="old-password" class="font-semibold">Mật khẩu mới<span class="pl-2 text-red-600">*</span></label>
          <input pInputText id="old-password" class="flex-auto" [(ngModel)]="data.newPassword" />
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label for="old-password" class="font-semibold">Nhập lại mật khẩu mới<span
              class="pl-2 text-red-600">*</span></label>
          <input pInputText id="old-password" class="flex-auto" [(ngModel)]="data.confirmPassword" />
        </div>
      </div>
    </div>


    <p-button label="Đổi mật khẩu" (click)="changePassword()"></p-button>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>
