.area-left {
  background-image: url('../../../assets/images/auth_bg_desktop.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .wrap-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.area-right {

  .txt-title,
  .txt-login,
  .txt-forgot-password {
    color: var(--primary-app-color);
  }

  .btn-next,
  .btn-previous {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;

    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
  }

  .tab-view {
    display: flex;
    border-bottom: 2px solid var(--primary-app-line);

    .active,
    .tab-view-title:hover {
      color: var(--primary-app-color);
      border-bottom: 2px solid var(--primary-app-color);
    }
  }
}