<p-dialog class="prevent-select" [header]="data.headerDialog" [modal]="true" [(visible)]="visible"
          [style]="{ width: '60rem' }" (onHide)="onHideDialog()">
  <span class="p-text-secondary block mb-5">{{ data.subHeaderDialog }} </span>

  <div class="grid col" [style.pointer-events]="data.actionDialog === SYSTEM_ACTION.VIEW ? 'none' : 'auto'">
    <div class="col-7 flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="username" class="font-semibold">Username</label>
        <input pInputText id="username" class="flex-auto" [(ngModel)]="data.username"/>
      </div>

      <div class="flex flex-column gap-2">
        <label for="email" class="font-semibold">Email<span class="pl-2 text-red-600">*</span></label>
        <input pInputText id="email" class="flex-auto" [(ngModel)]="data.email"/>
      </div>

      <div class="flex flex-wrap justify-content-between">
        <div class="flex flex-column gap-2" [style]="{ width: '48%' }">
          <label for="phone" class="font-semibold">Phone</label>
          <input pInputText id="phone" class="flex-auto" [(ngModel)]="data.phone"/>
        </div>

        <div class="flex flex-column gap-2" [style]="{ width: '48%' }">
          <label for="certificate" class="font-semibold">Chứng chỉ</label>
          <input pInputText id="certificate" class="flex-auto" [(ngModel)]="data.certificate"/>
        </div>
      </div>

      <div class="flex flex-wrap justify-content-between">
        <div class="flex flex-column gap-2" [style]="{ width: '48%' }">
          <label for="status" class="font-semibold">Trạng thái<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="status" [options]="LIST_STATUS" [(ngModel)]="selectStatus" placeholder="Chọn trạng thái"
                      optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }">
          </p-dropdown>
        </div>

        <div *ngIf="data.actionDialog === SYSTEM_ACTION.CREATE" class="flex flex-column gap-2"
             [style]="{ width: '48%' }">
          <label for="role" class="font-semibold">Quyền<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="role" [options]="LIST_ROLE" [(ngModel)]="selectRole" placeholder="Chọn quyền"
                      optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }">
          </p-dropdown>
        </div>

        <div *ngIf="data.actionDialog !== SYSTEM_ACTION.CREATE" class="flex flex-column gap-2"
             [style]="{ width: '48%' }">
          <label for="role" class="font-semibold">Quyền<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="role" [options]="listRole" [(ngModel)]="selectRole" placeholder="Chọn quyền"
                      optionLabel="roleName" [showClear]="true" [style]="{ width: '100%' }">
          </p-dropdown>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="company" class="font-semibold">Công ty</label>
        <p-dropdown id="company" [options]="listCompany" [(ngModel)]="selectCompany" placeholder="Chọn công ty"
                    [disabled]="data.roleName === SYSTEM_ROLE.ADMIN || data.roleName === SYSTEM_ROLE.CANDIDATE"
                    optionLabel="name" [showClear]="true" [style]="{ width: '100%' }">
        </p-dropdown>
      </div>
    </div>

    <div class="col-5 flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="dob" class="font-semibold">Ảnh đại diện<span class="pl-2 text-red-600">*</span></label>
        <img width="200" height="200" src="{{ pathEnvironment + '/' + data.avatar }}" alt="favicon"/>
        <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW">
          <input type="file" (change)="onFileSelected($event, 'image')" accept="image/*">
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="dob" class="font-semibold">CV<span class="pl-2 text-red-600">*</span></label>
        <span>{{ data.profile }}</span>
        <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW">
          <input type="file" (change)="onFileSelected($event, 'profile')" accept="application/pdf">
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="education" class="font-semibold">Cấp giáo dục</label>
        <p-dropdown id="education" [options]="LIST_EDUCATION" [(ngModel)]="selectEducation"
                    placeholder="Chọn cấp giáo dục" optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }">
        </p-dropdown>
      </div>
      <div class="flex flex-column gap-2">
        <label for="language" class="font-semibold">Ngôn ngữ</label>
        <p-dropdown id="language" [options]="LIST_LANGUAGES" [(ngModel)]="selectLanguage" placeholder="Chọn ngôn ngữ"
                    optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
      </div>
    </div>
  </div>
  <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW" class="flex justify-content-end gap-2 mt-3">
    <p-button label="Cancel" severity="secondary" (click)="onHideDialog()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.CREATE" label="Create" (click)="onCreateUser()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.UPDATE" label="Save" (click)="onUpdateUser()"></p-button>
  </div>
</p-dialog>
