.wrap-item {
  img {
    transition: all .6s;
    width: 300px;
    height: 250px;
  }

  &:hover {
    img {
      scale: 1.2;
    }

    box-shadow: var(--primary-app-box-shadow) 0px 8px 24px;
  }
}
