<p-dialog class="prevent-select" [header]="data.headerDialog" [modal]="true" [(visible)]="visible"
          [style]="{ width: '60rem' }" (onHide)="onHideDialog()">
  <span class="p-text-secondary block mb-5">{{ data.subHeaderDialog }} </span>

  <div [style.pointer-events]="data.actionDialog === SYSTEM_ACTION.VIEW ? 'none' : 'auto'">
    <div class="grid">
      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="title" class="font-semibold">Tiêu đề<span class="pl-2 text-red-600">*</span></label>
          <input pInputText id="title" class="flex-auto" [(ngModel)]="data.title" (change)="onChangeTitle($event)"
                 placeholder="Nhập tiêu đề"/>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="address" class="font-semibold">Địa chỉ<span class="pl-2 text-red-600">*</span></label>
          <input pInputText id="address" class="flex-auto" [(ngModel)]="data.address" placeholder="Nhập địa chỉ"/>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="keyword" class="font-semibold">Từ khóa<span class="pl-2 text-red-600"></span></label>
          <input disabled="true" pInputText id="keyword" class="flex-auto" [(ngModel)]="data.keyword"
                 placeholder="Nhập từ khóa"/>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="status" class="font-semibold">Trạng thái<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown [disabled]="true" id="status" [options]="LIST_RECRUITMENT"
                      [(ngModel)]="selectStatus" placeholder="Chọn trạng thái" optionLabel="NAME" [showClear]="true"
                      [style]="{ width: '100%' }">
          </p-dropdown>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="language" class="font-semibold">Lĩnh vực<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="language" [options]="LIST_FIELD" [(ngModel)]="selectField" placeholder="Chọn lĩnh vực"
                      optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="province" class="font-semibold">Tỉnh<span class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="province" [options]="LIST_PROVINCE" [(ngModel)]="selectProvince" placeholder="Chọn tỉnh"
                      optionLabel="NAME" [showClear]="true" [style]="{ width: '100%' }">
          </p-dropdown>
        </div>
      </div>

      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label for="timeForm" class="font-semibold">Hình thức làm việc<span
            class="pl-2 text-red-600">*</span></label>
          <p-dropdown id="timeForm" [options]="LIST_TIME_FORM"
                      [(ngModel)]="selectTimeForm" placeholder="Chọn hình thức làm việc" optionLabel="NAME"
                      [showClear]="true"
                      [style]="{ width: '100%' }">
          </p-dropdown>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="address" class="font-semibold">Thời gian bắt đầu<span class="pl-2 text-red-600">*</span></label>
          <p-calendar
            disabled="true"
            [(ngModel)]="data.timeStart"
            [iconDisplay]="'input'"
            [showIcon]="true"
            placeholder="Chọn thời gian bắt đầu"
            inputId="icondisplay"></p-calendar>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="address" class="font-semibold">Thời gian kết thúc<span class="pl-2 text-red-600">*</span></label>
          <p-calendar
            [(ngModel)]="data.timeEnd"
            [iconDisplay]="'input'"
            [showIcon]="true"
            placeholder="Chọn thời gian kết thúc"
            inputId="icondisplay"></p-calendar>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="address" class="font-semibold">Mức lương bắt đầu (Triệu)<span class="pl-2 text-red-600">*</span></label>
          <p-inputNumber class="flex-auto" [(ngModel)]="data.salaryFrom" mode="decimal" inputId="withoutgrouping"
                         [useGrouping]="false" placeholder="Nhập mức lương bắt đầu"></p-inputNumber>
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label for="address" class="font-semibold">Mức lương kết thúc (Triệu)<span class="pl-2 text-red-600">*</span></label>
          <p-inputNumber class="flex-auto" [(ngModel)]="data.salaryTo" mode="decimal" inputId="withoutgrouping"
                         [useGrouping]="false" placeholder="Nhập mức lương kết thúc"></p-inputNumber>
        </div>
      </div>

      <div class="col-12">
        <div class="flex flex-column gap-2" [style]="{'height':'300px'}">
          <label for="description" class="font-semibold">Mô tả<span class="pl-2 text-red-600">*</span></label>
          <quill-editor id="description" [(ngModel)]="data.description" [style]="{'height':'200px'}"
                        placeholder="Nhập mô tả tại đây..."></quill-editor>
        </div>
      </div>

      <div class="col-12">
        <div class="flex flex-column gap-2" [style]="{'height':'300px'}">
          <label for="required" class="font-semibold">Yêu cầu<span class="pl-2 text-red-600">*</span></label>
          <quill-editor id="required" [(ngModel)]="data.required" [style]="{'height':'200px'}"
                        placeholder="Nhập yêu cầu tại đây..."></quill-editor>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW" class="flex justify-content-end gap-2 mt-3">
    <p-button label="Cancel" severity="secondary" (click)="onHideDialog()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.CREATE" label="Create" (click)="onCreate()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.UPDATE" label="Save" (click)="onUpdate()"></p-button>
  </div>
</p-dialog>
