<app-loading></app-loading>
<div class="p-3 flex gap-3" style="background-color: var(--primary-app-background);">
  <app-employer-menu-left></app-employer-menu-left>

  <div>
    <h2 class="header-component">Lịch sử mua hàng</h2>
    <p-table #dt1 [value]="listProduct" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [tableStyle]="{'min-width': '50rem'}"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
      <ng-template pTemplate="caption">
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Tên gói
            </div>
          </th>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Giá gói
            </div>
          </th>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Khuyến mại
            </div>
          </th>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Ngày hết hạn
            </div>
          </th>
          <th class="w-15rem">
            <div class="flex align-items-center">
              Mô tả
            </div>
          </th>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Ngày tạo
            </div>
          </th>
          <th class="w-10rem">
            <div class="flex align-items-center">
              Thanh toán
            </div>
          </th>
          <th class="w-7rem">
            <div class="flex align-items-center">
              Trạng thái
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="flex align-items-center gap-3">
            <p-avatar image="{{ pathEnvironment + '/' + item.image }}" styleClass="mr-2" size="large"
              shape="circle"></p-avatar>
            <span class="vertical-align-middle">{{ item.servicePackName }}</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{ item.price | number:'1.0-0'}}</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{ item.promotion | number:'1.0-0' }}%</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{ item.expirationDate | number:'1.0-0' }} ngày</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{ item.content }}</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{ item.updatedAt | date:'HH:mm:ss dd/MM/yyyy' }}</span>
          </td>
          <td>
            <span class="vertical-align-middle">{{item.price - (item.promotion * item.price)/100 | number:'1.0-0' }}
              VNĐ</span>
          </td>
          <td>
            <span class="vertical-align-middle text-green-500"> {{ item.status | DynamicPipe: PRODUCT_STATUS }}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="7">No history found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:46px">
          <td *ngFor="let col of columns; let even = even">
            <p-skeleton [ngStyle]="{'width': even ? (col.field === 'year' ? '30%' : '40%') : '60%'}"></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>