<div class="bg-app pl-8 pr-8 text-white">
  <span class="text-center block text-2xl font-bold p-3">Hotline cho nhà tuyển dụng</span>
  <div class="flex align-items-center justify-content-center gap-8 w-full">
    <div class="flex gap-3 align-items-center border-bottom-1 hover:text-green-200">
      <i class="fa-solid fa-headset text-5xl"></i>
      <div>
        <p class="opacity-80">Hotline hỗ trợ miền Bắc</p>
        <p>HN: (024) 7308 2424</p>
      </div>
    </div>
    <div class="flex gap-3 align-items-center border-bottom-1 hover:text-green-200">
      <i class="fa-solid fa-headset text-5xl"></i>
      <div>
        <p class="opacity-80">Hotline hỗ trợ miền Nam</p>
        <p>HCM: (028) 7108 2424</p>
      </div>
    </div>
  </div>

  <div class="flex justify-content-between flex-column lg:flex-row">
    <div>
      <h4>Về chúng tôi</h4>
      <div class="text-xs">
        <p class="hover:text-green-200">
          Vieclam24h.vn - Công Ty Cổ Phần Việc Làm 24h Phòng 102, Tòa nhà 20-20B
        </p>
        <p class="hover:text-green-200">
          Trần Cao Vân, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh Chi nhánh:
        </p>
        <p class="hover:text-green-200">
          Tầng 4, tòa nhà Times Tower, 35 Lê Văn Lương, Thanh Xuân, Hà Nội.
        </p>
        <p class="hover:text-green-200">
          Giấy phép hoạt động dịch vụ việc làm số: 4938/SLĐTBXH-GP do Sở Lao
          Động
        </p>
        <p class="hover:text-green-200">
          Thương Binh &amp; Xã Hội TP.HCM cấp Điện thoại: (028) 7108 2424 |
          (024) 7308 2424
        </p>
        <p class="hover:text-green-200">
          Email hỗ trợ người tìm việc: ntv&#64;vieclam24h.vn
        </p>
        <p class="hover:text-green-200">
          Email hỗ trợ nhà tuyển dụng: ntd&#64;vieclam24h.vn
        </p>
      </div>
    </div>

    <div>
      <h4>Thông tin</h4>
      <div class="text-xs">
        <p class="hover:text-green-200">Báo giá dịch vụ</p>
        <p class="hover:text-green-200">Điều khoản sử dụng</p>
        <p class="hover:text-green-200">Chính sách bảo hành</p>
        <p class="hover:text-green-200">Quy định bảo mật</p>
      </div>
    </div>

    <div>
      <h4>Việc làm theo khu vực</h4>
      <div class="text-xs">
        <p class="hover:text-green-200">Hà nội</p>
        <p class="hover:text-green-200">Hồ Chí Minh</p>
        <p class="hover:text-green-200">Hải Phòng</p>
        <p class="hover:text-green-200">Đà Nẵng</p>
        <p class="hover:text-green-200">Cần Thơ</p>
      </div>
    </div>

    <div>
      <h4>Kết nối với chúng tôi</h4>
      <div class="text-xs">
        <p class="">
          <i class="fa-brands fa-facebook text-3xl hover:text-green-200"></i>
          <i class="fa-brands fa-facebook-messenger text-3xl ml-2 hover:text-green-200"></i>
          <i class="fa-brands fa-instagram text-3xl ml-2 hover:text-green-200"></i>
          <i class="fa-brands fa-youtube text-3xl ml-2 hover:text-green-200"></i>
          <i class="fa-brands fa-linkedin text-3xl ml-2 hover:text-green-200"></i>
        </p>
        <img src="../../../assets/images/logo_bo_cong_thuong.png" alt="logp_bo_cong_thuong" srcset="" />
      </div>
    </div>
  </div>

  <span class="text-center p-5 opacity-70 border-top-1 block mt-2">
    © 2024 - Bản quyền thuộc Vieclam24h
  </span>
</div>