.bg-app {
  background-color: var(--secondary-app-color);
}

.bg-content {
  background-color: var(--primary-app-bg-content);
}

.bg-gray-home {
  background-color: var(--primary-app-bg-home);
}

.border-app {
  border: 1px solid var(--primary-app-color);
}

.box-shadow-app {
  box-shadow: var(--primary-app-box-shadow) 0px 8px 24px;
}

.header-component {
  border-left: 4px solid var(--primary-color);
  padding: 5px;
}

.icon {
  transition: box-shadow 0.2s, transform 0.2s;

  &:active {
    transform: scale(0.9);
  }
}
