:root {
  --primary-app-color: #003699;
  --secondary-app-color: #001744;
  --primary-app-background: #EFF0F1;

  --primary-app-line: #e5e7eb;
  --primary-app-txt-opacity: #6c757d;
  --primary-app-txt-sub: #b3ceff;
  --primary-app-box-shadow: rgba(149, 157, 165, 0.2);
  --primary-app-bg-home: rgba(33, 47, 63, .3);
  --primary-app-bg-content: #fff;
}
