.wrap-item-left,
.wrap-item-right {
  &:hover {
    img {
      scale: 1.2;
    }

    box-shadow: var(--primary-app-box-shadow) 0px 8px 24px;
  }
}

.wrap-item-left {
  img {
    transition: all .6s;
    width: 265px;
    height: 200px;
  }
}

.wrap-item-right {
  img {
    transition: all .6s;
    width: 120px;
    height: 80px;
  }
}
